* {
  margin: 0;
  padding: 0;
}
input, button {
  color: black;
}
.navbar {
  background: black;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  font-family: arial;
  position: fixed;
  width: 100%;
  z-index: 10;
  justify-content: space-between;
  padding-left: 30px;
}
.navbar > div {
  padding-right: 100px;
  cursor: pointer;
}
